@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body,
html {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}


.hand-writing {
  font-family: 'Handlee', cursive;
}

@-moz-document url-prefix() {

  body,
  html {
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    scroll-behavior: smooth;
    scroll-snap-type: mandatory;
  }
}

* {
  /* border: 2px solid red */
  scroll-behavior: smooth;
  scroll-snap-type: mandatory;
  s
}